.container-item {
    margin: 24px;
    
    .container-item-header{
        display:flex;
        justify-content: space-between;
        align-items: center;

        span {
            font-size: 20px;
        }

        div {
            display:flex;
            
           
            .option { 
                margin-left: 20px;
                flex: 1;
                border: 0px solid;
                background-color: lightgrey;
                border-radius: 8px;
                padding: 8px;
                cursor: pointer;   
                display:flex;
                align-items: center; 
            }
        }
    }

    .container-item-content {
        margin-top: 20px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 8px;
        // transition: all 0.5s ease-out;
        // overflow: hidden;

        .qtd-devices{
            display: flex;
            justify-content: space-between;
            width: 100%;

            .qtd-devices-room {
                min-width: 160px;
                height: 80px;
                padding: 16px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                color: white;
                border-radius: 20px;

                .title {
                    font-size: 20px;
                }
            }
        }

        .weather-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            
            img {
                width: 70px;
            }

            .weather-items {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .item-title{
                    font-size: 24px;
                    font-weight: bold;
                }
            }

        }
    }

    .active {
        // display: block;
        // height: 140px;
    }

}