#page-feed {
    main {
        background:white;
        display: flex;
        align-items:center;
        justify-content:center;
        
        height:100vh;
    }

    .main-content {
        max-width: 1200px;
        background:#EEEEEE;
        width:100%;
    }
}