#page-feed {
    display: flex;
    flex-direction: column;
    // height:100%;    
    background:white;

    main {
        display: flex;
        align-items:center;
        justify-content:center;
        flex-direction: column;
        flex-wrap: wrap;
        height:100%;
        padding-top: 40px;
        
        .main-content {
            max-width: 1200px;
            min-width: 400px;
            background:#EEEEEE;
            width:100%;
            margin-bottom: 40px;
            
            .card-list {
                .card-list-title{
                    background-color: grey;
                    padding: 16px;
                    color: white;
                    font-size: 28px;
                }
                .card-list-devices {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    // grid-auto-flow: dense;
                    // grid-template-rows: auto;
                    align-items: flex-start;
                }
            }
        }
    }
}

@media (max-width: 1250px) {
    #page-feed {
        main{
            .main-content {
                max-width: 800px;
                .card-list {
                    .card-list-devices{
                        grid-template-columns: repeat(2, 1fr);
                        align-items: flex-start;
                    }
                }
            }
        }
    }
}


@media (max-width: 900px) {
    #page-feed {
        main{
            .main-content {
                max-width: 500px;
                .card-list {
                    .card-list-devices{
                        display:flex;
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                }
            }
        }
    }
}

@media (max-width: 560px) {
    #page-feed {
        main{
            .main-content {
                max-width: 450px;
            }
        }
    }
}