#page-feed {
    display: flex;
    flex-direction: column;

    main {
        background:white;
        display: flex;
        align-items:center;
        justify-content:center;
        
        height:100vh;
    }

    .main-content {
        max-width: 1200px;
        min-width: 400px;
        background:#EEEEEE;
        width:100%;
        display:flex;
        flex-wrap: wrap;
    }
}

@media (min-width: 800px) {
    #page-feed {
        .main-content {
            max-width: 400px;
        }
    }
}