@import '~react-pro-sidebar/dist/scss/styles.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    // background: #f8f8f8;
    color: #29292e; 
  }
  
  body, input, button, textarea {
    font: 400 16px 'Roboto', sans-serif;
    font-family: 'Roboto', sans-serif;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    // background: #888;
    background: orange;
    border-radius: 8px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    // background: #555;
    background: #FFCC00;
  } 

  .App {
    display:flex;
    height:100vh;

    .pro-sidebar > .pro-sidebar-inner {
      background-color:#F8F8F8;

      .pro-inner-item {
        margin-left:20px;
        color:black;
      }

      
      .pro-sidebar-content {
        .pro-inner-item {
          background-color:white;
          border-radius: 24px 0 0 24px;
        }
      }
    }

    .main-app { 
      width:100%;
      // height: 100%;
      background-color:#F8F8F8; 
      overflow-y: scroll; 
    }
    
    .main-loading{
      overflow-y: none; 
      background-color: lightgrey;
    }

  }

  .pro-sidebar .pro-menu.shaped .pro-menu-item > .pro-inner-item > .pro-icon-wrapper{
    background: none;
    color:black;
  }

  .pro-sidebar .overlay {
    width:100%;
  }
  
  .pro-sidebar.collapsed {
    padding: 12px 0 12px 12px;
    min-width: 100px;
    // width: 100px;
  }

@media (min-width: $breakpoint-lg){
  .pro-sidebar.lg.toggled .overlay {
    display:flex;
  }
}

@media (max-width: $breakpoint-lg) {
  
  .App {
    flex-direction: column;
    
    .pro-sidebar.lg.collapsed {
      left: -100px;
    }
    
  }
}