.header{
    background:orange;
    display: flex;
    align-items:center;
    justify-content:center;
    padding:8px;
    z-index: 2;

    .header-content{
        display: flex;
        max-width: 1200px;
        width: 100%;    
        justify-content:space-between;

        .logo {
            padding:4px;
            // display: flex;
            align-items:center;
            
            span {
                color: white;
                font-size: 32px;
            }

            .refresh-home {
                margin-left: 8px;
                color: white;
                cursor: pointer;
            }
        }

        .user-content{
            padding:4px;
            display: flex;
            align-items:center;
            justify-content:center;

            img {
                width: 40px;
                height: 40px;
                margin-right: 16px;
                border: 0px solid;
            }

            span {
                color: white;
            }

            button {
                margin-left: 16px;
                background:none;
                padding: 4px;
                border-radius: 44px;
                border: 0px;
                height: 36px;
            }

            button:hover {
                cursor: pointer;
                color: white;
            }
        }
    }
}