.card-device {
    background-color: red;
    margin: 4px;
    border-radius: 8px;

    .card-device-header {
        // background-color: green;
    }

    .card-device-content {
        // background-color: yellow;
    }
}