.card-device {
    background-color: white;
    border: 1px solid lightgray;
    margin-top: 40px;
    border-radius: 16px;
    padding: 16px;
    width: 210px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .card-device-header {
        // background-color: green;
        display: flex;
        justify-content: space-between;
    }

}
